---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// tags
$tag-background:       lighten($brand-color, 40%);
$tag-background-hover: lighten($brand-color, 60%);
$tag-text-color:       darken($brand-color, 10%);
$tag-text-color-hover: darken($brand-color, 40%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// Custom styles (needs a bit of a tidy)

/*
 * Post tags
 */
.post-tag {
    display: inline-block;
    background: $tag-background;
    padding: 0 .5rem;
    border: 1px solid $tag-text-color;
    border-radius: 4px;
    color: $tag-text-color;
    font-size: 90%;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-bottom: 4px;
}
.post-tag:hover {
    background: $tag-background-hover;
    color: $tag-text-color-hover;
    border-color: $tag-text-color-hover;
    text-decoration: none;
}
.tags-expo-list {
    margin-bottom: 14px;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.tags-expo-section {
    margin-top: 20px;
}