---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// tags
$tag-background:       lighten($brand-color, 40%);
$tag-background-hover: lighten($brand-color, 60%);
$tag-text-color:       darken($brand-color, 10%);
$tag-text-color-hover: darken($brand-color, 40%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// Custom styles (needs a bit of a tidy)

/*
 * Headings
 */
h2{
    margin-top: 40px;
}
.post-meta+h2 {
    margin-top: 2px;
}

/*
 * Lists
 */
li > ul,
li > ol {
  margin-bottom: 15px;
}


/*
 * Post images
 */
figure.post-image {
    text-align: center;
}
figure.post-image img{
    text-align: center;
    border: 2px solid lighten($brand-color, 30%);
    margin: auto;
}
/*
 * Post tags
 */
.post-tag {
    display: inline-block;
    background: $tag-background;
    padding: 0 .5rem;
    border: 1px solid $tag-text-color;
    border-radius: 4px;
    color: $tag-text-color;
    font-size: 90%;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-bottom: 4px;
}
.post-tag:hover {
    background: $tag-background-hover;
    color: $tag-text-color-hover;
    border-color: $tag-text-color-hover;
    text-decoration: none;
}
.tags-expo-list {
    margin-bottom: 14px;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

/*
 * Tags page
 */
.tags-expo-section {
    margin-top: 20px;
}
.tags-expo-section h2{
    text-transform: capitalize;
}
a.tag-post-link:hover{
    text-decoration: none;
}
a.tag-post-link:hover span.tag-post-title{
    text-decoration: underline;
}


/*
 * Highlight draft posts differently
*/
h1.draft-post:before,
li.draft-post h2:before {
  content: "\f040";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 10px;
  font-size: 20px;
}
h1.draft-post,
li.draft-post {
  color: #ff0089
}

/*
 * Format title + subtitle
*/
h2.post-subtitle {
    margin-top: 0px;
    color: #aaaaaa;
    font-style: italic;
}

.post-title,
.post-subtitle,
.post-meta {
    text-align: center;
}

/*
 * Abbreviations
*/
abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

/*
 * Todo
 */
div.todo {
    width: 100%;
    background-color: #ffdc67;
    border: 2px solid;
    clear: both;
    margin-bottom: 20px;
}
div.todo p {
    padding: 10px;
    margin: 0;
}

/*
 * Definition lists
 */
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: both;
    text-align: left;
    font-weight: bold;
    // color: green;
}
    dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 20px;
    padding: 0 0 1em 0;
    clear: both;
}


/*
 * Page Navigation
 */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}