---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables to modify font folders
$fa-font-path:        "../fonts/font-awesome";

// Imports
@import "font-awesome/font-awesome";
@import "milligram-1.3.0/milligram";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$brand-color:      #2a7ae2; /* tags, ...etc */
$secondary-color:  #f06D06; /* header */

$share-link-bground:  #000;
$share-link-color: #e73582;
$draft-link-color: #ff0089;

// tags
$tag-background:       lighten($brand-color, 40%);
$tag-background-hover: lighten($brand-color, 60%);
$tag-text-color:       darken($brand-color, 10%);
$tag-text-color-hover: darken($brand-color, 40%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


// Image maps css
@import "image-maps.scss";

/*
 * Site title
 */
.site-header {
    background-color: #000;
    text-align: center;
    border-bottom: 6px solid $secondary-color;

    .site-title {
        clear: both;
        float: left;
        font-size: 30px;
        font-weight: normal;
        color: #FFF;
    }
    .site-subtitle {
        clear: both;
        float: left;
        font-size: 12px;
        color: #FFF;
        margin-bottom: 6px;
        font-family: monospace;
    }
    .site-nav{
        float: none;
        font-size: 18px;
        font-weight: lighter;

        a{
            /* color when shown as standard nav */
            color: #FFF;

            /* color when shown as mobile nav */
            @include media-query($on-palm) {
                color: #000;
            }
        }
        
    }
}
.page-content {
    background-color: #fff;
    padding-top:4px;
    padding-bottom:4px;
}

.page-content>.wrapper {
    background-color: #fff;
    padding-top:30px;
    padding-bottom:30px;
}

.footer-heading a{
    color: black;
}
/*
 * Headings
 */
 .home{
     h1{font-size: 30px}
 }
.post-content{
    h1{font-size:48px}
    h2{font-size:40px}
    h3{font-size:32px}
    h4{font-size:24px; margin-bottom:8px;}
    a {
        word-break: break-word;
    }
}

h2, h3{
    margin-top: 40px;
}
h2+h3 {
    margin-top: 10px;
}
.post-meta+h2 {
    margin-top: 2px;
}

/*
 * Lists
 */
li > ul,
li > ol {
  margin-bottom: 15px;
}

/*
 * Blogroll
 */
.blog-roll {
    margin-top: 20px;
    padding-top: 30px;
    border-top: 2px solid #f9f9f9;
}
.blog-roll > h2 {
    margin-top: 0px;
}
.blog-roll > h2 {
    margin-top: 0px;
}

/*
 * Post-list
 */
ul.post-list li,
div.post-list-li {
    padding: 20px;
    background-color:#f9f9f9;
    text-align:center;
}
div.post-list-li {
    margin-bottom: 16px;
}

ul.post-list li h2,
ul.post-list li h2 a,
div.post-list-li h2,
div.post-list-li h2 a  {
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

ul.post-list li h3,
div.post-list-li h3 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
}

/*
 * Post images
 */
figure.post-image {
    text-align: center;
}
figure.post-image{
    img{
        text-align: center;
        border: 2px solid lighten($brand-color, 30%);
        margin: auto;
    }
    &.more-padding img{
        padding: 10px;
    }
    &.no-border img{
        border: none;
    }
    &.medium img{
        max-width: 60%;
    }
    &.large img{
        max-width: 90%;
    }
}

/*
 * Post tags
 */
.post-tag {
    display: inline-block;
    background: $tag-background;
    padding: 0 .5rem;
    border: 1px solid $tag-text-color;
    border-radius: 4px;
    color: $tag-text-color;
    font-size: 90%;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-bottom: 4px;
}
.post-tag:hover {
    background: $tag-background-hover;
    color: $tag-text-color-hover;
    border-color: $tag-text-color-hover;
    text-decoration: none;
}
.tags-expo-list {
    margin-bottom: 14px;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

/* Comments */
div#idc-container-parent {
    padding: 20px;
    background-color: #f2f2f2;
}

/*
 * Tags page
 */
.tags-expo-section {
    margin-top: 20px;
}
.tags-expo-section h2{
    text-transform: capitalize;
}
a.tag-post-link:hover{
    text-decoration: none;
}
a.tag-post-link:hover span.tag-post-title{
    text-decoration: underline;
}

/*
 * Highlight draft posts differently
*/
.draft-post:before {
  content: "\f040";
  font-family: FontAwesome;
  color: $draft-link-color;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 10px;
  font-size: 20px;
}
h1.draft-post,
.draft-post h2 a.post-link {
  color: $draft-link-color;
}

/*
 * Format title + subtitle
*/
h2.post-subtitle {
    margin-top: 0px;
    color: #aaaaaa;
    font-style: italic;
}
article.post .post-title,
article.post .post-subtitle,
ul.post-list .post-subtitle,
article.post .post-meta {
    text-align: center;
}

/*
 * Abbreviations
*/
abbr {
    // border-bottom: 1px dotted;
    cursor: help;
    text-decoration: underline dotted;
}

/*
 * Todos
 */
div.todo {
    width: 100%;
    background-color: #ffdc67;
    border: 2px solid;
    clear: both;
    margin-bottom: 20px;
}
div.todo p
 {
    padding: 10px;
    margin: 0;
}

/*
* Updates
*/
div.update {
    width: 100%;
    background-color: #fff6d8;
    border-radius: 4px;
    clear: both;
    padding: 10px;
    margin-bottom: 20px;
}
 .update h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
}

/*
 * Definition lists
 */
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: both;
    text-align: left;
    font-weight: bold;
    // color: green;
}
    dt::after {
    content: ":";
}
dd {
    margin: 0 0 0 20px;
    padding: 0 0 1em 0;
    clear: both;
}
/*
 * Standard lists
 */
ul li {
    list-style-type: disc;
}
ul ul li {
    list-style-type: circle;
}
/*
 * Nested lists
 */
 article li>ul{
     margin-bottom:0px;
}
/*
 * Multi-posts
 */
aside.multi-post {
    border: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    background: #eee;
    font-size: .9em;
}
aside.multi-post h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
}
aside.multi-post li.current-post,
aside.multi-post li.current-post a {
    font-weight: bold;color: #040404 !important;
}

/*
 * Page Navigation
 */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
.PageNavigation .prev:last-child,
.PageNavigation .next:first-child,
{
    width:100%;
}

/* Subsribe page */
form.emailSubscribeForm {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
p.poweredByTL {
    margin-top: 6px;
    font-size: 12px;
    text-align: right;
    margin-bottom: 0;
}

/*Share links */
.share-links {
    text-align: center;
    background: $share-link-bground;
    color: $share-link-color;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
            text-decoration: none;
        }
        i {
            margin-left: 4px;
        }
    }
}

.center-text,
.center-text p,
.center-text h1,
.center-text h2,
.center-text h3 {
    text-align: center;
}
.row.dropped {
    margin-top: 20px;
}
/* Footer */
ul.contact-list li,
ul.social-media-list li {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
}

/* About page */
.footnote {
    background: #edfdff;
    padding: 12px 6px 6px 6px;
    font-size: 0.8em;
    margin-top: 20px;

    h4,
    ol {
        margin-left: 6px;
    }
    h4 {
        font-size: 16px;
    }
}