  <style amp-custom>
    body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
        margin: 0;
        padding: 0;
    }
    body {
      color: #000;
      font-family: "Roboto",sans-serif;
    }
    .icon>svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    .wrapper {
      max-width: -webkit-calc(800px - (30px * 2));
      max-width: calc(800px - (30px * 2));
      margin-right: auto;
      margin-left: auto;
      padding-right: 30px;
      padding-left: 30px;
    }
    a {
      color: #1573ca;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .site-header {
      background-color: #1573ca;
      min-height: 80px;
      position: relative;
    }
    .site-title {
      font-size: 26px;
      color: #fff;
      line-height: 74px;
      letter-spacing: -1px;
      margin-bottom: 0;
      float: left;
    }
    .site-title:hover {
      text-decoration: none;
    }
    .highlighter-rouge .highlight {
      background: #eef;
    }
    pre {
      padding: 8px 12px;
      overflow-x: auto;
    }
    pre, code {
      font-size: 15px;
      border-radius: 3px;
      background-color: #eef;
    }
    amp-img{
      max-width: -webkit-calc(800px - (50px * 2));
      max-width: calc(800px - (50px * 2));
    }
    ul.post-list {
        margin-left: 0;
        list-style: none;
    }
    ul.post-list li {
    padding: 20px;
    background-color:#f9f9f9;
    text-align:center;
    border-radius:16px
    }
    ul.post-list .post-title,
    ul.post-list .post-subtitle,
    ul.post-list .post-meta {
        text-align: left;
    }
  </style>