  <style amp-custom>
    body, figure {
        margin: 0;
        padding: 0;
    }
    body {
      color: #000;
      font-family: "Roboto",sans-serif;
    }
    figure{
        text-align: center;
    }
    .icon>svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    .wrapper {
      max-width: -webkit-calc(800px - (30px * 2));
      max-width: calc(800px - (30px * 2));
      margin-right: auto;
      margin-left: auto;
      padding-right: 30px;
      padding-left: 30px;
    }
    a {
      color: #1573ca;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .site-header {
      background-color: #1573ca;
      min-height: 80px;
      position: relative;
    }
    .site-title {
      font-size: 26px;
      color: #fff;
      line-height: 74px;
      letter-spacing: -1px;
      margin-bottom: 0;
      float: left;
    }
    .site-title:hover {
      text-decoration: none;
    }
    .highlighter-rouge .highlight {
      background: #eef;
    }
    pre {
      padding: 8px 12px;
      overflow-x: auto;
    }
    pre, code {
      font-size: 15px;
      border-radius: 3px;
      background-color: #eef;
    }
    amp-img{
      max-width: -webkit-calc(800px - (50px * 2));
      max-width: calc(800px - (50px * 2));
    }
    ul.post-list {
        margin-left: 0;
        list-style: none;
    }
    ul.post-list li {
    padding: 20px;
    background-color:#f9f9f9;
    text-align:center;
    border-radius:16px
    }
    ul.post-list .post-title,
    ul.post-list .post-subtitle,
    ul.post-list .post-meta {
        text-align: left;
    }

/*
 * Post tags
 */
.post-tag {
    display: inline-block;
    background: #2a7ae2;
    padding: 0 .5rem;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    margin-bottom: 4px;
}
.post-tag:hover {
    background: #3f3fff;
    text-decoration: none;
}
.tags-expo-list {
    margin-bottom: 14px;
}
.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

  </style>