<footer class="site-footer" role="contentinfo">

  <div class="wrapper">

    <h2 class="footer-heading"><a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a></h2>


    <div class="footer-col-wrapper">

        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>

          <li>
            <p>{{ site.description | escape }}</p>
          </li>

            {% if site.mailhide %}
              {% include mailhide.html %}
            {% else %}
              {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {% endif %}
            {% endif %}

        </ul>

        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="social-icon github">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="social-icon twitter">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.linkedin %}
          <li class="social-icon linkedin">
            {% include icon-linkedin.html label=site.author url=site.linkedin %}
          </li>
          {% endif %}
        </ul>

      </div>

    </div>

  </div>

</footer>

{% include scripts_late.html %}