<aside class='multi-post' markdown='1'>
### Multi-part blog post

{% if include.part==0 %}
This article is the introduction to my [_How to build a Photo Booth_]({{ "/photo-booth/" | prepend: site.url }}) series:
{% else %}
This article is 'Part {{include.part}}' of my [_How to build a Photo Booth_]({{ "/photo-booth/" | prepend: site.url }}) series:
{% endif %}

<ul markdown='1'>
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=0 title="Introduction" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=1 title="Listing out the requirements" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=2 title="Getting started with Pi and PiCamera" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=3 title="Building the Booth" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=4 title="Wiring up the circuit" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=5 title="The code" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=6 title="Fine-tuning" %}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=7 title="Photo day!"%}
    {% include multi-post-li.html part=include.part group-url="/photo-booth/" li=8 title="Post-production"%}
</ul>

_I'll be writing the remaining articles for this series in the coming days and weeks._
</aside>