<aside class='multi-post' markdown='1'>
### Multi-part blog post

{% if include.part==0 %}
This article is the introduction to my [_How to build a Photo Booth_]({{ "/photo-booth/" | prepend: site.url }}) series:
{% else %}
This article is 'Part {{include.part}}' of my [_How to build a Photo Booth_]({{ "/photo-booth/" | prepend: site.url }}) series:
{% endif %}

<ul markdown='1'>
    <li {% if include.part==0 %} class="current-post"{% endif %}><span markdown='1'>[Introduction](                                {{ "/photo-booth"   | prepend: site.url }}) {% if include.part==0 %} <strong>(this post)</strong> {% endif %}</span></li>
    <li {% if include.part==1 %} class="current-post"{% endif %}><span markdown='1'>Part 1: [Listing out the requirements](        {{ "/photo-booth/1" | prepend: site.url }}) {% if include.part==1 %} <strong>(this post)</strong> {% endif %}</span></li>
    <li {% if include.part==2 %} class="current-post"{% endif %}><span markdown='1'>Part 2: [Getting started with Pi and PiCamera]({{ "/photo-booth/2" | prepend: site.url }}) {% if include.part==2 %} <strong>(this post)</strong> {% endif %}</span></li>
    <li {% if include.part==3 %} class="current-post"{% endif %}><span markdown='1'>Part 3: [Building the Booth](                  {{ "/photo-booth/3" | prepend: site.url }}) {% if include.part==3 %} <strong>(this post)</strong> {% endif %}</span></li>
    <li {% if include.part==4 %} class="current-post"{% endif %}><span markdown='1'>Part 4: [Wiring up the circuit](               {{ "/photo-booth/4" | prepend: site.url }}) {% if include.part==4 %} <strong>(this post)</strong> {% endif %}</span></li>
    <li {% if include.part==5 %} class="current-post"{% endif %}><span markdown='1'>Part 5: The code</span></li>
    <li {% if include.part==6 %} class="current-post"{% endif %}><span markdown='1'>Part 6: Fine-tuning</span></li>
    <li {% if include.part==7 %} class="current-post"{% endif %}><span markdown='1'>Part 7: Photo day!</span></li>
    <li {% if include.part==8 %} class="current-post"{% endif %}><span markdown='1'>Part 8: Post-production</span></li>
</ul>

_I'll be writing the remaining articles for this series in the coming days and weeks._
</aside>