<ul class="post-list">
  {% for post in site.posts %}
    
   <li {% if post.draft == true %}class="draft-post"{% endif %}>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link"
          href="{{ post.url | prepend: site.baseurl }}"
          title="{{ post.title | escape }}{% if post.desc %}{% include linebreak.html %}{{ post.desc }}{% endif %}"
          >{{ post.title | escape }}</a>
      </h2>
        {% if post.desc %}
            <h3 class="post-subtitle">{{ post.desc }}</h3>
        {% endif %}
        {% if post.img %}
          <img
            class="post-image"
            src="{{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner.w }}x{{ site.img_size.banner.h }}.jpg"
            srcset="
                {{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner.w }}x{{ site.img_size.banner.h }}.jpg {{ site.img_size.banner.w }}w,
                {{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner_2x.w}}x{{ site.img_size.banner_2x.h}}.jpg {{ site.img_size.banner_2x.w}}w"
            sizes="100vw"
            alt="{{ post.title | escape }}"
            >
        {% elsif post.image %}
          <img
            class="post-image"
            src="{{post.image}}"
            {% if post.image-srcset %}srcset="{{post.image-srcset }}"{% endif %}
            alt="{{ post.title | escape }}"
            >
        {% endif %}
    </li>
  {% endfor %}
</ul>