<div class="post-list post-list-grid">
  {% for post in site.posts %}

  {% if include.stagger=="false" %}
    {% assign thecycle='1of1' %}
  {% else %}
    {% capture thecycle %}{% cycle '1of1', '1of2', '2of2' %}{% endcapture %}
  {% endif %}

  {% if thecycle == '1of2' or thecycle == '1of1' %}
    <div class="row">
  {% endif %}
    <div class="column">
    {% if post.draft == true %}
      {% assign postclass="post-list-li draft-post" %}
    {% else %}
      {% assign postclass="post-list-li" %}
    {% endif %}
     <div class="{{postclass}} {{thecycle}}">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link"
          href="{{ post.url | prepend: site.baseurl }}"
          title="{{ post.title | escape }}{% if post.desc %}{% include linebreak.html %}{{ post.desc }}{% endif %}"
          >{{ post.title | escape }}</a>
      </h2>
        {% if post.desc %}
            <h3 class="post-subtitle">{{ post.desc }}</h3>
        {% endif %}
        {% if post.img %}
          {% assign img-ext=post.img-ext | default: '.jpg' %}
          <img
            class="post-image"
            src="{{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner.w }}x{{ site.img_size.banner.h }}{{img-ext}}"
            srcset="
                {{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner.w }}x{{ site.img_size.banner.h }}{{img-ext}} {{ site.img_size.banner.w }}w,
                {{ site.url }}{{ site.img_root }}{{ post.img }}-{{ site.img_size.banner_2x.w}}x{{ site.img_size.banner_2x.h}}{{img-ext}} {{ site.img_size.banner_2x.w}}w"
            alt="{{ post.title | escape }}"
            {% if thecycle == '1of1' %}
              {% include image-sizes-fullwidth.html %}
            {% else %}
              {% include image-sizes-halfwidth.html %}
            {% endif %}
            >
        {% else %}
          {% if post.draft == true %}
          
            {% if thecycle == '1of1' %}
              {% include draft-post-image.html width="full" %}
            {% else %}
              {% include draft-post-image.html width="half" %}
            {% endif %}
            
          {% endif %}
        {% endif %}
        </div><!-- end post-list-li -->
    </div><!-- end column -->
    
  {% if thecycle == '2of2' or thecycle == '1of1'  %}
    </div><!-- end row -->
  {% endif %}

  {% endfor %}

    {% if thecycle == '1of2' %}
    </div><!-- end row -->
  {% endif %}
  
</div>