<!--scripts to load at end of body tag-->
<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>

<!-- Leave out some bits -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-storage.js"></script> -->

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAgATAmQrRZ39puccKQqF22rUggRAy1Rp4",
    authDomain: "jack-barker-blog.firebaseapp.com",
    databaseURL: "https://jack-barker-blog.firebaseio.com",
    storageBucket: "jack-barker-blog.appspot.com",
    messagingSenderId: "361593759934"
  };
  firebase.initializeApp(config);
</script>

<!-- Legacy version -->
<!-- <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script> -->

<!-- Other javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>

<script src="/js/blog.js"></script>