<!--scripts to load at end of body tag-->


<!-- Leave out some bits -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-auth.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-database.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-messaging.js"></script> -->
<!-- <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase-storage.js"></script> -->

<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCeJUoDSFSKexNHeG_1YB-iyEiMtQSKA-U",
    authDomain: "friendlychat-480eb.firebaseapp.com",
    databaseURL: "https://friendlychat-480eb.firebaseio.com",
    storageBucket: "friendlychat-480eb.appspot.com",
    messagingSenderId: "1047704090096"
  };
  firebase.initializeApp(config);
</script>

<!-- Legacy version -->
<!-- <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script> -->

<!-- Other javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.1.0/js/md5.js"></script>

<script src="/js/firebase-comments.js"></script>
<!--<script src="/js/blog.js"></script>-->