<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.twitter_username }}" />

{% if page.title %}
  <meta property="og:title" content="{{ page.title }}">
{% else %}
  <meta property="og:title" content="{{ site.title }}">
{% endif %}

{% if page.desc %}>
  <meta property="og:description" content="{{ page.desc }}">
{% else %}
  <meta property="og:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% endif %}

{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% endif %}

{% if page.permalink %}
  <meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
{% endif %}
