.image-map{
    position:relative;
}
.hotspot {
    position: absolute;
}
.image-map:hover .hotspot {
    border: 1px solid blue;
    &:hover {
        border: 1px solid red;
    }
}
.hotspot + * {
    pointer-events: none;
    opacity: 0;
}
.hotspot:hover + * {
    opacity: 1.0;
}
.wash {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wash-text {
    position: absolute;
    color: red;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    padding:2px; 
}

@include media-query($on-laptop) {
    .hotspot,
    .image-map .hotspot,
    .wash,
    .wash-text{
        display: none;
    }
}
@include media-query($on-palm) {
    .hotspot,
    .image-map .hotspot,
    .wash,
    .wash-text{
        display: none;
    }
}